#logo-navbar{
    width: 40px;
    height: 40px;
}

.book-list #book-list-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon-gap{
    gap: 10px;
}

.bg-accent{
    background-color: #f2f2f2;
}

.card{
    min-width: 300px;
}


#todo-list{ 
    list-style-type: none;
    /* border: 1px solid black; */
    .form-check{
        min-width: 275px;
    }
}