body{
    font-size: 1rem;
}

#logo-navbar{
    width: 40px;
    height: 40px;
}

.book-list #book-list-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon-gap{
    gap: 10px;
}

.bg-accent{
    background-color: #f2f2f2;
}



